/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Montserrat Variable';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p, label, input, button{
    font-size: 1.4rem;
}

.wrapper {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bold{
  font-weight: bold;
}

.glass {
  backdrop-filter: blur(25px) saturate(168%);
    -webkit-backdrop-filter: blur(25px) saturate(168%);
    background-color: rgba(17, 25, 40, 0.24);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #fff;
}
